.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }
}

.advantages__sublist {
  background: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.advantages__sublist-item {
  @media (min-width: @tablet-width) {
    text-align: center;
    width: 256px;
  }
}

.advantages__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 11px;

  @media (min-width: @tablet-width) {
    max-width: 150px;
    margin: 0 auto;
    font-size: 21px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
  }
}

.advantages__number {
  text-align: center;
  padding-bottom: 17px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 24px;
  }
}

.advantages__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.advantages__item {
  background-color: #eeeeee;
  color: #000000;

  &--theme--blue {
    background-color: #81b3d2;
    color: #ffffff;
  }

  @media (min-width: @tablet-width) {
    width: 256px;
    flex-grow: 1;
  }
}

.advantages__item--triangle::before {
  background: url("../../img/advantages-triangle.svg");
  background-repeat: no-repeat;
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 57px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.advantages__wrapper-city {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
  }
}

.advantages__wrapper-content {
  padding: 15px 22px 40px 16px;

  @media (min-width: @tablet-width) {
    padding: 40px 32px 34px 32px;
    flex-grow: 1;
  }

  @media (min-width: @desktop-width) {
    padding: 47px 52px 56px 57px;
    max-width: 290px;
    flex-grow: 1;
  }
}

.advantages__wrapper-bridge {
  padding: 39px 16px 35px;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    padding: 43px 36px 41px 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 51px 78px 53px 79px;
    max-width: 234px;
    margin: 0 auto;
  }
}

.advantages__image-city {
  @media (min-width: @tablet-width) {
    min-width: 512px;
    min-height: 100%;
  }

  @media (min-width: @desktop-width) {
    min-width: 800px;
    min-height: 100%;
  }
}

.advantages__image-bridge {
  @media (min-width: @tablet-width) {
    min-width: 512px;
    min-height: 100%;
  }

  @media (min-width: @desktop-width) {
    min-width: 800px;
    min-height: 100%;
  }
}

.advantages__sublist-title {
  font-size: 18px;
  line-height: 26px;
  text-align: start;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;


  @media (min-width: @tablet-width) {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}

.advantages__sublist-description {
  text-align: start;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    text-align: center;
    margin: 0 auto;
    max-width: 175px;
  }

  @media (min-width: @desktop-width) {
    max-width: 280px;
  }
}

.advantages__sublist-description--width {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    max-width: 155px;
  }

  @media (min-width: @desktop-width) {
    max-width: 310px;
  }
}

.advantages__sublist-description--souvenirs {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    max-width: 193px;
  }

  @media (min-width: @desktop-width) {
    max-width: 230px;
  }
}

.advantages__sublist-item--house {
  color: #000000;
  background: url("../..//img/home.svg") no-repeat 7% 21px;
  background-color: #ffffff;

  @media (max-width: @mobile-width-only) {
    padding: 31px 30px 4px 65px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 158px;
    padding-bottom: 59px;
    background: url("../../img/home.svg") no-repeat;
    background-position: 50% 58px;
    background-size: 75px 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 158px 52px 79px 58px;
    width: 282px;
  }
}

.advantages__sublist-item--food {
  color: #000000;
  background: url("../../img/food.svg") no-repeat 7% 5px;
  background-color: #ffffff;

  @media (max-width: @mobile-width-only) {
    padding: 12px 18px 4px 70px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 158px;
    padding-bottom: 59px;
    background: url("../../img/food.svg") no-repeat;
    background-position: 50% 60px;
    background-size: 75px 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 157px 60px 80px 60px;
    width: 300px;
  }
}

.advantages__sublist-item--souvenirs {
  color: #000000;
  background: url("../../img/souvenirs.svg") no-repeat 8% 5px;
  background-color: #ffffff;

  @media (max-width: @mobile-width-only) {
    padding: 12px 56px 38px 62px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 158px;
    padding-bottom: 81px;
    background: url("../../img/souvenirs.svg") no-repeat;
    background-position: 50% 60px;
    background-size: 68px 72px;
  }

  @media (min-width: @desktop-width) {
    background-position: 48% 60px;
    padding: 157px 78px 80px 78px;
    width: 220px;
  }
}

.advantages__wrapper-square {
  @media (max-width: @mobile-width-only) {
    padding: 26px 8px 24px 8px;
    margin-left: 18px;
    margin-right: 18px;
    max-width: 268px;
    border-bottom: 1px solid #d6d6d6;
  }

  @media (min-width: @tablet-width) {
    padding: 42px 34px 63px 33px;
    max-width: 190px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding: 43px 43px 62px 43px;
    max-width: 315px;
  }
}

.advantages__wrapper-road {
  @media (max-width: @mobile-width-only) {
    padding: 24px 23px 24px 23px;
    margin-left: 18px;
    margin-right: 18px;
    max-width: 237px;
    border-bottom: 1px solid #d6d6d6;
  }

  @media (min-width: @tablet-width) {
    padding: 42px 48px 41px 46px;
    max-width: 145px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding: 43px 54px 62px 54px;
    max-width: 270px;
    margin: 0 auto;
  }
}

.advantages__wrapper-tourist {
  @media (max-width: @mobile-width-only) {
    padding: 24px 18px 26px 18px;
    max-width: 255px;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    padding: 42px 40px 42px 41px;
    max-width: 148px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding: 43px 55px 62px 55px;
  }
}

.advantages__title--width {
  @media (min-width: @tablet-width) {
    max-width: 137px;
    margin: 0 auto;
  }
}

.advantages__item--flex {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.advantages__item--reverse {
  flex-direction: row-reverse;
}

.advantages__sublist-br {
  @media (max-width: 1199px) {
    display: none;
  }
}
