.card__image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.card__wrapper-description {
  padding-top: 15px;
  padding-bottom: 11px;
}

.card__wrapper {
  padding: 24px 20px 25px 20px;
}

.card__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.card__title {
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 8px;
}

.card__author-photo {
  margin: 0;
}

.card__button-like {
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: #ffffff;
  margin-right: 10px;
}

.card__like-icon {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.card__counter {
  font-weight: 700;
  text-align: center;
  margin: 0;
}

