.checkbox {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 480px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.checkbox__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
