.copyright__text {
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;

  &:hover {
    color: #81b3d2;
    opacity: 100%;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__link {
  color: #000000;

  &:hover {
    color: #81b3d2;
    opacity: 100%;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.copyright__logo {
  fill: #000000;

  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: #b3b3b3;
  }
}
