.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.hotel-search__description {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
  }
}

.hotel-search__wrapper {
  padding: 38px 18px 49px 18px;

  @media (min-width: @tablet-width) {
    padding: 61px 155px 58px 155px;
  }
}

.hotel__search-link {
  padding: 16px 49px;
  font-size: 21px;
  line-height: 26px;

  &:hover {
    background: #669ec0;
  }

  &:active {
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background: #e5e5e5;
    color: #ffffff;
  }
}
