.navigation {
  background-color: #81B3D2;
  position: relative;
  display: none;
}

.navigation__toggle {
  width: 23px;
  margin-left: 277px;
  position: absolute;
}

.navigation__list {
  list-style: none;
  margin: 0;
	padding: 0;
}

.navigation__item {
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);

  .navigation-item--shadow {
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
}

.navigation__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 13px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
  text-transform: uppercase;
}
