.radio {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 173px;
    padding-right: 173px;
    padding-bottom: 57px;
  }
}

.radio__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding-left: 62px;
  position: relative;
  cursor: pointer;
  height: 46px;
}

.radio__mark {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &:hover {
    background: #e5e5e5;
  }

  &:active {
    background: #d5d5d5;
  }
}

.radio__input[type="radio"]:checked + .radio__mark::before {
  content: "";
  border-radius: 50%;
  background-color: #333333;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
}
