.page-header__logo {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.page-header {
  position: relative;
  min-height: 56px;
}
.page-header__logo-image {
  display: block;
}
.page-header__toggle {
  position: absolute;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: #ffffff;
  top: 17px;
  right: 20px;
}
.page-header__toggle:hover {
  opacity: 60%;
}
.page-header__toggle:active {
  opacity: 30%;
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}
.page-header__toggle-icon {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
@media (min-width: 768px) {
  .page-header__toggle-icon {
    display: none;
  }
}
.navigation {
  width: 100%;
}
@media (max-width: 767px) {
  .navigation {
    display: none;
    position: absolute;
  }
}
@media (min-width: 768px) {
  .navigation {
    background-color: #ffffff;
    color: #000000;
  }
}
.navigation__list {
  background-color: #81b3d2;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .navigation__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    background: #ffffff;
    color: #000000;
  }
}
.navigation__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .navigation__link:hover {
    background: #669ec0;
  }
  .navigation__link:active {
    background: #5496bd;
  }
}
@media (min-width: 768px) {
  .navigation__link {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }
  .navigation__link:hover {
    opacity: 60%;
  }
  .navigation__link:active {
    opacity: 30%;
  }
}
@media (min-width: 768px) {
  .navigation__link--current {
    color: #766357;
  }
}
@media (max-width: 767px) {
  .navigation__item:not(:last-child) {
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }
}
.navigation__item:nth-child(4n+3) {
  grid-column: 4/5;
}
.navigation__toggle {
  position: absolute;
  background: #81b3d2;
  border: none;
  cursor: pointer;
  padding: 0;
  top: 17px;
  right: 20px;
}
.navigation__toggle:hover {
  opacity: 60%;
}
.navigation__toggle:active {
  opacity: 30%;
}
@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}
.navigation__icon {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
@media (min-width: 768px) {
  .navigation__icon {
    display: none;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
.page__body {
  margin: 0 auto;
  min-height: 100%;
  min-width: 320px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #e7e5e5;
}
.page__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page__container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page__container {
    width: 1200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}
.button {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
.main-intro__hero {
  background-image: url("../../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #81b3d2;
}
.main-intro__hero::after {
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 57px;
}
@media (max-width: 767px) {
  .main-intro__hero::after {
    background-image: url("../../img/intro-index-triangle.svg");
  }
}
@media (min-width: 768px) {
  .main-intro__hero::after {
    background-image: url("../../img/intro-triangle-tablet.svg");
  }
}
@media (min-width: 1200px) {
  .main-intro__hero::after {
    background-image: url("../../img/intro-triangle-dekstop.svg");
  }
}
.main-intro__hero-welcome {
  display: block;
  margin: 0 auto;
  padding-top: 90px;
}
@media (min-width: 768px) {
  .main-intro__hero-welcome {
    padding-top: 71px;
  }
}
@media (min-width: 1200px) {
  .main-intro__hero-welcome {
    padding-top: 78px;
  }
}
.main-intro__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}
.main-intro__description {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
.main-intro__wrapper {
  padding: 32px 20px 16px 20px;
  max-width: 270px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-intro__wrapper {
    padding: 47px 124px 55px 124px;
    max-width: 500px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-intro__wrapper {
    padding: 59px 359px 44px 357px;
  }
}
.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }
}
.advantages__sublist {
  background: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages__sublist {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .advantages__sublist-item {
    text-align: center;
  }
}
.advantages__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  text-align: center;
  padding-bottom: 11px;
}
.advantages__number {
  text-align: center;
  padding-bottom: 17px;
  margin: 0;
}
.advantages__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.advantages__item {
  background-color: #eeeeee;
  color: #000000;
}
.advantages__item--theme--blue {
  background-color: #81b3d2;
  color: #ffffff;
}
@media (min-width: 768px) {
  .advantages__item {
    align-items: center;
    width: 256px;
    flex-grow: 1;
  }
}
.advantages__item--triangle::before {
  background-image: url("../../img/advantages-triangle.svg");
  background-repeat: no-repeat;
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 57px;
}
@media (min-width: 768px) {
  .advantages__item--triangle::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages__wrapper-city {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
.advantages__wrapper-content {
  padding: 33px 22px 40px 16px;
}
@media (min-width: 768px) {
  .advantages__wrapper-content {
    padding: 40px 32px 34px 32px;
    flex-grow: 1;
  }
}
.advantages__wrapper-bridge {
  padding: 39px 16px 35px;
}
@media (min-width: 768px) {
  .advantages__wrapper-bridge {
    flex-grow: 1;
    padding: 43px 36px 41px 36px;
  }
}
.advantages__image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.advantages__sublist-title {
  text-align: start;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .advantages__sublist-title {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
  }
}
.advantages__sublist-description {
  text-align: start;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__sublist-description {
    text-align: center;
  }
}
.advantages__sublist-item--house {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 65px;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../../img/home.svg") no-repeat 7% 17px;
}
@media (min-width: 768px) {
  .advantages__sublist-item--house {
    padding: 158px 36px 59px 36px;
    background-image: url("../../img/home.svg") no-repeat;
    background-position: 50% 70px;
    background-size: 75px 72px;
  }
}
@media (min-width: 1200px) {
  .advantages__sublist-item--house {
    padding: 159px 52px 79px 58px;
    width: 282px;
  }
}
.advantages__sublist-item--food {
  padding-top: 30px;
  padding-right: 18px;
  padding-left: 70px;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../../img/food.svg") no-repeat 7% 17px;
}
@media (min-width: 768px) {
  .advantages__sublist-item--food {
    padding: 158px 35px 59px 36px;
    background-image: url("../../img/food.svg") no-repeat;
    background-position: 50% 70px;
    background-size: 75px 72px;
  }
}
@media (min-width: 1200px) {
  .advantages__sublist-item--food {
    padding: 159px 60px 80px 52px;
    width: 300px;
  }
}
.advantages__sublist-item--souvenirs {
  padding-top: 30px;
  padding-right: 56px;
  padding-bottom: 52px;
  padding-left: 62px;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../../img/souvenirs.svg") no-repeat 9% 17px;
}
@media (min-width: 768px) {
  .advantages__sublist-item--souvenirs {
    padding: 158px 31px 81px 35px;
    background-image: url("../../img/souvenirs.svg") no-repeat;
    background-position: 50% 70px;
    background-size: 75px 72px;
  }
}
@media (min-width: 1200px) {
  .advantages__sublist-item--souvenirs {
    padding: 159px 78px 80px 60px;
    width: 244px;
  }
}
@media (max-width: 767px) {
  .advantages__wrapper-square {
    padding: 26px 8px 24px 8px;
    margin-left: 18px;
    margin-right: 18px;
    max-width: 268px;
    border-bottom: 1px solid #d6d6d6;
  }
}
@media (min-width: 768px) {
  .advantages__wrapper-square {
    padding: 42px 34px 63px 33px;
    max-width: 190px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper-square {
    padding: 43px 43px 62px 43px;
    max-width: 315px;
  }
}
@media (max-width: 767px) {
  .advantages__wrapper-road {
    padding: 24px 23px 24px 23px;
    margin-left: 18px;
    margin-right: 18px;
    max-width: 237px;
    border-bottom: 1px solid #d6d6d6;
  }
}
@media (min-width: 768px) {
  .advantages__wrapper-road {
    padding: 42px 48px 41px 46px;
    max-width: 145px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper-road {
    padding: 43px 54px 62px 54px;
    max-width: 270px;
    margin: 0 auto;
  }
}
.advantages__wrapper-tourist {
  padding: 24px 18px 26px 18px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .advantages__wrapper-tourist {
    padding: 42px 40px 42px 41px;
    max-width: 148px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper-tourist {
    padding: 43px 55px 62px 55px;
  }
}
@media (min-width: 768px) {
  .advantages__title--width {
    max-width: 137px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .advantages__item--flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.advantages__item--reverse {
  flex-direction: row-reverse;
}
.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}
.hotel-search__description {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .hotel-search__description {
    margin-bottom: 41px;
  }
}
@media (min-width: 1200px) {
  .hotel-search__description {
    margin-bottom: 46px;
  }
}
.hotel-search__wrapper {
  padding: 38px 18px 49px 18px;
}
@media (min-width: 768px) {
  .hotel-search__wrapper {
    padding: 61px 155px 58px 155px;
  }
}
@media (min-width: 1200px) {
  .hotel-search__wrapper {
    padding: 61px 371px 66px 371px;
  }
}
.hotel__search-link {
  padding: 16px 49px;
  font-size: 21px;
  line-height: 26px;
}
.hotel__search-link:hover {
  background: #669ec0;
}
.hotel__search-link:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.hotel__search-link:disabled {
  background: #e5e5e5;
  color: #ffffff;
}
.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  min-height: 40px;
}
.social__link {
  display: block;
  box-sizing: border-box;
  position: relative;
  min-width: 48px;
  min-height: 48px;
  background: #81b3d2;
  color: #ffffff;
}
.social__link:hover {
  background: #669ec0;
}
.social__link:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.social__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #ffffff;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.page-footer__hashtag {
  padding: 28px 78px 33px 76px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-footer__hashtag {
    padding: 0;
  }
}
.page-footer__social {
  padding-right: 80px;
  padding-left: 84px;
}
.page-footer__copyright {
  padding: 40px 96px 23px 80px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    padding: 0;
  }
}
.copyright__text {
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
}
.copyright__text:hover {
  color: #81b3d2;
  opacity: 100%;
}
.copyright__text:active {
  color: #b3b3b3;
}
.copyright__link {
  color: #000000;
}
.copyright__link:hover {
  color: #81b3d2;
  opacity: 100%;
}
.copyright__link:active {
  color: #b3b3b3;
}
.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.hero {
  background-image: url("../../../source/img/background-catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #81b3d2;
}
.hero::after {
  background-image: url("../../../source/img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 57px;
}
@media (min-width: 768px) {
  .hero::after {
    display: none;
  }
}
.hero__image {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 67px;
}
.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .catalog__header-wrapper {
    padding: 37px 20px 25px 20px;
    border-bottom: 1px solid #e5e5e5;
  }
}
@media (min-width: 768px) {
  .catalog__header-wrapper {
    max-width: 440px;
    margin: 0 auto;
    padding: 66px 155px;
  }
}
.catalog__header-title {
  text-transform: uppercase;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 34px;
  color: #000000;
}
.catalog__header-description {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog__list-wrapper {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (max-width: 767px) {
  .card__container {
    padding: 24px 20px 25px 20px;
    border-bottom: 1px solid #e5e5e5;
  }
}
@media (min-width: 768px) {
  .card__container {
    padding: 0;
  }
}
.card__wrapper-inner {
  padding-top: 15px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .card__wrapper-inner {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #f2f2f2;
    padding-top: 22px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
  }
}
.card__image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.card__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
.card__title {
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
.card__author-photo {
  margin: 0;
}
.card__button-like {
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: #ffffff;
  margin-right: 10px;
}
.card__button-like:hover {
  opacity: 60%;
}
.card__button-like:active {
  opacity: 30%;
}
@media (min-width: 768px) {
  .card__button-like {
    background-color: #f2f2f2;
  }
}
.card__like-icon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.card__counter {
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.presentation__wrapper {
  padding: 17px 26px 38px 26px;
}
@media (min-width: 768px) {
  .presentation__wrapper {
    max-width: 450px;
    margin: 0 auto;
    padding: 58px 162px 66px 162px;
  }
}
.presentation__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 34px;
  color: #000000;
}
.presentation__intro {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.presentation__image-wrapper {
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .presentation__image-wrapper {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
  }
}
.presentation__image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.map__image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.feedback__container {
  margin: 0;
  border: none;
  padding: 0;
}
@media (max-width: 767px) {
  .feedback__container {
    padding: 24px 20px 23px 20px;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }
}
@media (min-width: 768px) {
  .feedback__container--attraction {
    padding-right: 144px;
    padding-left: 144px;
    padding-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .feedback__container--attraction {
    padding-right: 165px;
    padding-left: 165px;
    padding-bottom: 71px;
  }
}
@media (min-width: 768px) {
  .feedback__container--emotion {
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 64px;
  }
}
@media (min-width: 1200px) {
  .feedback__container--emotion {
    padding-right: 216px;
    padding-left: 216px;
  }
}
@media (min-width: 768px) {
  .feedback__container--name {
    padding-right: 43px;
    border-right: 1px solid rgba(1, 1, 1, 0.2);
  }
}
@media (min-width: 1200px) {
  .feedback__container--name {
    padding-right: 63px;
  }
}
@media (min-width: 768px) {
  .feedback__container--contacts {
    padding-left: 44px;
  }
}
.feedback__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #000000;
  padding: 0;
}
@media (max-width: 767px) {
  .feedback__title {
    padding-top: 24px;
  }
}
@media (min-width: 768px) {
  .feedback__title {
    padding-bottom: 28px;
  }
}
@media (min-width: 768px) {
  .feedback__title--attraction {
    max-width: 308px;
    margin-bottom: 28px;
  }
}
.feedback__field-group {
  margin: 0;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .feedback__field-group {
    display: flex;
    flex-direction: column;
  }
}
.feedback__submit-button {
  padding: 18px 34px 13px 32px;
  font-size: 21px;
  line-height: 26px;
  margin-top: 40px;
  width: 281px;
}
.feedback__submit-button:hover {
  background: #669ec0;
}
.feedback__submit-button:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.feedback__submit-button:disabled {
  background: #e5e5e5;
  color: #ffffff;
}
@media (min-width: 768px) {
  .feedback__submit-button-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
  }
}
.feedback__note {
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
  text-align: right;
  margin: 0;
}
@media (min-width: 768px) {
  .feedback__wrapper-grid {
    display: grid;
    grid-template-columns: 323px 323px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .feedback__wrapper-grid {
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 56px;
    grid-template-columns: 493px 493px;
  }
}
@media (max-width: 767px) {
  .review__header-wrapper {
    padding: 36px 20px 28px 20px;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }
}
@media (min-width: 768px) {
  .review__header-wrapper {
    padding: 64px 166px 102px 166px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .review__header-wrapper {
    padding: 115px 382px 67px 382px;
  }
}
.review__title {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}
.review__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.field__label {
  text-transform: uppercase;
}
.field__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  padding: 16px;
}
.field__input:hover {
  background: #e5e5e5;
  color: #000000;
}
.field__input:active {
  background: #ffffff;
  outline: 4px solid #e5e5e5;
}
.field__contacts-input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
  border: none;
  outline: none;
  padding: 16px;
  width: 190px;
}
.field__contacts-input:hover {
  background: #e5e5e5;
  color: #000000;
}
.field__contacts-input:active {
  background: #ffffff;
  outline: 4px solid #e5e5e5;
}
@media (min-width: 1200px) {
  .field__contacts-input {
    width: 312px;
  }
}
.field__contacts-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}
.field__contacts-input-phone {
  position: absolute;
  width: 58px;
  height: 58px;
  background: #e6e6e6;
}
.field__contacts-mail {
  position: absolute;
  width: 58px;
  height: 58px;
  background: #e6e6e6;
}
.field__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  width: 247px;
  height: 118px;
  background: #f2f2f2;
  padding: 16px;
  border: none;
  outline: none;
}
.field__textarea:hover {
  background: #e5e5e5;
  color: #000000;
}
.field__textarea:active {
  background: #ffffff;
  outline: 4px solid #e5e5e5;
}
@media (min-width: 768px) {
  .field__textarea {
    width: 616px;
  }
}
@media (min-width: 1200px) {
  .field__textarea {
    width: 768px;
  }
}
.radio {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .radio {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  .radio {
    padding-left: 173px;
    padding-right: 173px;
    padding-bottom: 57px;
  }
}
.radio__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding-left: 62px;
  position: relative;
  cursor: pointer;
  height: 46px;
}
.radio__mark {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.radio__mark:hover {
  background: #e5e5e5;
}
.radio__mark:active {
  background: #d5d5d5;
}
.radio__input[type="radio"]:checked + .radio__mark::before {
  content: "";
  border-radius: 50%;
  background-color: #333333;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
}
@media (max-width: 767px) {
  .checkbox {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
@media (min-width: 768px) {
  .checkbox {
    display: grid;
    grid-template-columns: 224px 224px;
    column-gap: 32px;
    row-gap: 16px;
  }
}
@media (min-width: 1200px) {
  .checkbox {
    display: flex;
    flex-direction: row;
    width: 960px;
    gap: 64px;
  }
}
.checkbox__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  position: relative;
  padding-left: 62px;
  height: 46px;
  cursor: pointer;
}
.checkbox__input[type="checkbox"]:checked + .checkbox__mark::after {
  content: "";
  background-image: url("../../../source/img/tick.svg");
  width: 22px;
  height: 16px;
  left: 26.09%;
  right: 26.09%;
  top: 32.61%;
  bottom: 32.61%;
  position: absolute;
}
.checkbox__mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.checkbox__mark:hover {
  background: #e5e5e5;
}
.checkbox__mark:active {
  background: #d5d5d5;
}
/*# sourceMappingURL=style.css.map */
