.page-header__logo {
  margin-right: 25px;
  margin-left: 67px;
  cursor: pointer;
  height: 100%;
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
}
.page-header__toggle-icon {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.page-header__toggle {
  position: relative;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: #ffffff;
  margin-right: 20px;
}
.page-header__toggle:hover {
  opacity: 60%;
}
.page-header__toggle:active {
  opacity: 30%;
}
.navigation {
  background-color: #81B3D2;
  position: relative;
  display: none;
}
.navigation__toggle {
  width: 23px;
  margin-left: 277px;
  position: absolute;
}
.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation__item {
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);
}
.navigation__item .navigation-item--shadow {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.navigation__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
  background-color: #E7E5E5;
}
.page__body {
  margin: 0 auto;
  min-height: 100%;
  width: 320px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}
.button {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  background-color: #81B3D2;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
.main-intro__hero {
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #81B3D2;
}
.main-intro__hero:after {
  background-image: url("../img/intro-index-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 57px;
}
.main-intro__hero-welcome {
  display: block;
  margin: 0 auto;
  padding-top: 90px;
}
.main-intro__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  padding: 32px 20px 35px 18px;
  margin: 0;
}
.main-intro__description {
  text-transform: uppercase;
  margin: 0;
  padding: 0px 20px 16px 18px;
  text-align: center;
}
.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages__sublist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  text-align: center;
  padding-bottom: 11px;
}
.advantages__number {
  text-align: center;
  padding-bottom: 17px;
  margin: 0;
}
.advantages__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.advantages__item {
  background-color: #EEEEEE;
  color: #000000;
}
.advantages__item--theme--blue {
  background-color: #81B3D2;
  color: #ffffff;
}
.advantages__wrapper-city {
  padding: 33px 22px 40px 16px;
}
.advantages__item--triangle:before {
  background-image: url("../img/advantages-triangle.svg");
  background-repeat: no-repeat;
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 57px;
}
.advantages__wrapper-bridge {
  padding: 39px 16px 35px;
}
.advantages__image-city {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.advantages__image-bridge {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.advantages__sublist--home {
  color: #000000;
  background: #ffffff;
}
.advantages__sublist--food {
  color: #000000;
  background: #ffffff;
}
.advantages__sublist--souvenirs {
  color: #000000;
  background: #ffffff;
}
.advantages__sublist-title {
  text-align: start;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}
.advantages__sublist-description {
  text-align: start;
  text-transform: uppercase;
  margin: 0;
}
.advantages__sublist-wrapper-house {
  padding: 30px 30px 30px 65px;
}
.advantages__sublist-wrapper-food {
  padding-right: 18px;
  padding-bottom: 30px;
  padding-left: 70px;
}
.advantages__sublist-wrapper-souvenirs {
  padding-right: 56px;
  padding-bottom: 52px;
  padding-left: 62px;
}
.advantages__wrapper-square {
  padding: 26px 26px 24px 26px;
}
.advantages__wrapper-road {
  padding: 24px 41px 24px 41px;
}
.advantages__wrapper-tourist {
  padding: 24px 18px 26px 18px;
}
.hotel__search-title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}
.hotel__search-description {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}
.hotel-search__wrapper {
  padding: 38px 18px 49px 18px;
}
.hotel__search-link {
  padding: 16px 49px;
  font-size: 21px;
  line-height: 26px;
}
.hotel__search-link:hover {
  background: #669EC0;
}
.hotel__search-link:active {
  background: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.hotel__search-link:disabled {
  background: #E5E5E5;
  color: #FFFFFF;
}
.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  min-height: 40px;
}
.social__link {
  display: block;
  box-sizing: border-box;
  position: relative;
  min-width: 48px;
  min-height: 48px;
  background: #81B3D2;
  color: #ffffff;
}
.social__link:hover {
  background: #669EC0;
}
.social__link:active {
  background: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.social__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #ffffff;
}
.page-footer__hashtag {
  padding: 28px 78px 33px 76px;
  text-align: center;
}
.page-footer__social {
  padding-right: 80px;
  padding-left: 84px;
}
.page-footer__copyright {
  padding: 40px 96px 23px 80px;
  text-align: center;
}
.copyright__text {
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
}
.copyright__text:hover {
  color: #81B3D2;
  opacity: 100%;
}
.copyright__text:active {
  color: #B3B3B3;
}
.copyright__link {
  color: #000000;
}
.copyright__link:hover {
  color: #81B3D2;
  opacity: 100%;
}
.copyright__link:active {
  color: #B3B3B3;
}
.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.hero {
  background-image: url("../img/background-catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #81B3D2;
}
.hero::after {
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 57px;
}
.hero__image {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 67px;
}
.catalog-header__title {
  text-transform: uppercase;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 34px;
  color: #000000;
}
.catalog__header-wrapper {
  padding: 37px 20px 25px 20px;
}
.catalog-header__description {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.card__image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.card__wrapper-description {
  padding-top: 15px;
  padding-bottom: 11px;
}
.card__wrapper {
  padding: 24px 20px 25px 20px;
}
.card__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
.card__title {
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 8px;
}
.card__author-photo {
  margin: 0;
}
.card__button-like {
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: #ffffff;
  margin-right: 10px;
}
.card__like-icon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.card__counter {
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.presentation__wrapper {
  padding: 17px 26px 38px 26px;
}
.presentation__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 34px;
  color: #000000;
}
.presentation__intro {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.presentation__image-wrapper {
  padding-right: 20px;
  padding-left: 20px;
}
.presentation__image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.map__image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.feedback__container {
  margin: 0;
  border: none;
  padding: 0px 20px 23px 20px;
}
.feedback__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #000000;
  padding: 0;
}
.feedback__field-group {
  margin: 0;
  margin-bottom: 16px;
}
.feedback__submit-button {
  padding: 18px 34px 13px 32px;
  font-size: 21px;
  line-height: 26px;
  margin-top: 40px;
  width: 281px;
}
.feedback__submit-button:hover {
  background: #669EC0;
}
.feedback__submit-button:active {
  background: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.feedback__submit-button:disabled {
  background: #E5E5E5;
  color: #FFFFFF;
}
.feedback__note {
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
  text-align: right;
  margin: 0;
}
.review__header-wrapper {
  padding: 36px 20px 28px 20px;
}
.review__title {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}
.review__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.field__label {
  text-transform: uppercase;
}
.field__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
  border: #F2F2F2;
  outline: none;
  padding: 16px;
  box-sizing: border-box;
}
.field__input:hover {
  background: #E5E5E5;
  color: #000000;
  border: #E5E5E5;
  outline: none;
}
.field__input:active {
  background: #FFFFFF;
  border: 4px solid #E5E5E5;
}
.field__contacts-input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  background-color: #F2F2F2;
  border: #F2F2F2;
  outline: none;
  padding: 16px;
  box-sizing: border-box;
}
.field__contacts-input:hover {
  background: #E5E5E5;
  color: #000000;
  border: #E5E5E5;
  outline: none;
}
.field__contacts-input:active {
  background: #FFFFFF;
  border: 4px solid #E5E5E5;
}
.field__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  width: 247px;
  height: 118px;
  background: #F2F2F2;
  padding: 16px;
  border: none;
}
.radio {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.radio__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.checkbox {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.checkbox__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */
